.start-page {
    position: relative;
    width: 100vw;
    min-width: var(--minWidth);
    height: 100vh;
    background: var(--mainGrdadient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
}
#canvas1 { 
    position: absolute;
    left: 0;
    right: 0;
    z-index: -100;
}
.title-name { 
    font-size: 3em;
    color: var(--mainTextColor);
    z-index: 100;
    animation:  scale-in 3s ease-in-out forwards,
                pulse 2s 6s infinite;
}
.subtitle-position { 
    margin: 1em;
    font-size: 1.3em;
    line-height: 1.5;
    text-align: center;
    color: var(--mainTextColor);
    animation:  scale-in 3s 2s ease-in-out backwards,
                pulse 2s 6s infinite;
}

.title-description { 
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 1em;
    max-width: 600px;
    min-width: var(--minWidth);
    text-align: center;
    line-height: 1.2;
    color: var(--descrText);
    animation:  scale-in 3s 4s ease-in-out backwards;
}
@keyframes pulse {
    0%, 100% { 
        opacity: 1;
        transform: scale(1);
    } 50% {
        opacity: .8;
        transform: scale(1.05);
    }
}
@keyframes scale-in {
    0% {
        transform: scale(0);
        opacity: 0;
    } 80% {
        transform: scale(1.2);
    } 100% {
        transform: scale(1), rotateX(1);
        opacity: 1;
    }
} 
.mountain-image {
    position: absolute;
    width: 120vw;
    bottom: -1.3em;
    left: 0;
}

.moon-image {
    position: absolute;
    width: 5rem;
    left: 0;
    bottom:0;
    animation: risingMoon 20s both linear;
}

@keyframes risingMoon {
    0% {
        left: 0;
        bottom:0;
        transform: scale(1.3);
    }
    14% {
        left: 2%;
        bottom: 14%;
        transform: scale(1.2);
    }
    28% {
        left: 4%;
        bottom: 28%;
        transform: scale(1.1)
    }
    42% {
        left: 6%;
        bottom: 42%;
        transform: scale(1) rotateZ(0deg);
    }
    56% {
        left: 8%;
        bottom: 56%;
        transform: scale(1) rotateZ(0deg);
    }
    100% {
        left: 30%;
        bottom: 70%;
        transform: scale(.8) rotateZ(20deg);
    }
    
}
