:root {
    --minWidth: 280px;
    --html: #6ABECD;
    --css: #3E54A3;
    --js: #E13784;
    --mainTextColor: #FFFFFF;
    --descrText: #FFFFFF66;
    --gradientFirstStop:     #08455f;
    --gradientSecondStop:    #022331;
    --graientThirdStop:      #000c11;
    --mainGrdadient:    radial-gradient(ellipse at bottom, 
                        var(--gradientFirstStop) 10%, 
                        var(--gradientSecondStop) 40%, 
                        var(--graientThirdStop) 70%);
}
html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
    min-width: var(--minWidth);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
html {
    background-color: var(--gradientSecondStop);
    background: var(--mainGrdadient)

}

/* FOOTER */

footer {
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    min-width: var(--minWidth);
    background-color: var(--graientThirdStop);
    font-size: .8em;
    color: var(--mainTextColor);
    text-align: center;
    line-height: 1.7;
}