:root {
    --minWidth: 280px;
    --html: #6ABECD;
    --css: #3E54A3;
    --js: #E13784;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
    min-width: var(--minWidth);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
body {
    background: radial-gradient(ellipse at bottom, 
                    #08455f 10%, #022331 40%, #000c11 70%);

}
/* NAVIGATION */

nav {
    position: fixed;
    box-sizing: border-box;
    padding: 1em;
    top: 0;
    left: 0;
    width: 100%;
    min-width: var(--minWidth);
    background-color: #000c11;
    font-size: .8em;
    color: #FFFFFF;
    z-index: 200;
    animation: reveal .5s 2s backwards ease-in;
    /* transform-origin: top; */
}
@keyframes reveal {
    0% { top: -2em; }
    100% { top: 0; }
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
li {
    margin: 0 1em;
    color: #FFFFFF;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.link-navigation:hover {
    border-bottom: 1px solid #FFFFFF;
}
.icon-navigation:hover { 
    transform: scale(1.4);
}
/* LANDING PAGE */

.start-page {
    position: relative;
    width: 100vw;
    min-width: var(--minWidth);
    height: 100vh;
    background: radial-gradient(ellipse at bottom, 
                    #08455f 10%, #022331 40%, #000c11 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
}
#canvas1 { 
    position: absolute;
    left: 0;
    right: 0;
    z-index: -100;
}
.title-name { 
    font-family: sans-serif;
    font-size: 3em;
    color: #FFFFFF;
    z-index: 100;
    animation:  scale-in 3s ease-in-out forwards,
                pulse 2s 6s infinite;
}
.subtitle-position { 
    margin: 1em;
    font-family: sans-serif;
    font-size: 1.3em;
    text-align: center;
    color: #FFFFFF;
    animation:  scale-in 3s 2s ease-in-out backwards,
                pulse 2s 6s infinite;
}
.title-description { 
    margin: 1em;
    max-width: 600px;
    min-width: var(--minWidth);
    text-align: center;
    line-height: 1.2;
    color: #FFFFFF66;
    animation:  scale-in 3s 4s ease-in-out backwards;
}
@keyframes pulse {
    0%, 100% { 
        opacity: 1;
        transform: scale(1);
    } 50% {
        opacity: .8;
        transform: scale(1.03);
    }
}
@keyframes scale-in {
    0% {
        transform: scale(0);
        opacity: 0;
    } 80% {
        transform: scale(1.2);
    } 100% {
        transform: scale(1), rotateX(1);
        opacity: 1;
    }
} 

.mountain-image {
    position: absolute;
    width: 150em;
    /* height: 30%; */
    bottom: -1.3em;
    left: 0;
}

/* ALL PAGES */

.main-container {
    box-sizing: border-box;
    padding: 4rem 2rem;
    width: 100wv;
    min-width: var(--minWidth);
    min-height: 50vh;
}
.category-title {
    font-size: 3rem;
    text-align: center;
    min-width: calc(var(--minWidth) - 6rem);
    color: #FFFFFF;
    border-bottom: 1px solid white;
}

.container {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

/* SKILLS PAGE */

.skills-column {
    position: relative;
    padding: 1rem;
    width: 13em;
    min-width: calc(var(--minWidth) - 6rem);
    opacity: 0;
} 
.skills-column.left {
    left: -100px
}
.skills-column.right {
    left: 100px
}
.el-skill {
    margin: 1rem 0;
    font-size: 1em;
    border-bottom: 1px solid #FFFFFF55;
}
.el-skill > span {
    float: right;
}
.appear-skills {
    animation: revealSkills .5s forwards cubic-bezier(.64,.7,.97,1.38);
}
@keyframes revealSkills {
    0% { 
        opacity: 0; 
    }
    100% { 
        left: 0;
        opacity: 1; 
    }
}
/* PROJECTS PAGE */

.custom-select {
    margin-top: 1em;
    color: #FFFFFF;
    text-align: center;
}

.project {
    width: 15em;
    height: 25em;
    overflow: hidden;
    border-radius: .5em;
    margin: 1em;
    border: 1px solid #FFFFFF;
    animation: showProjects .5s;
}
@keyframes showProjects {
    0% {
        transform: scale(.5);
    } 100%
    {
        transform: scale(1);
    }
    
}
.project>.image>img {
    width: 100%;
}
.name, .tools, .description, .links {
    box-sizing: border-box;
    padding: .5rem .5rem;
}
.name, .tools {
    text-transform: uppercase;
    font-weight: bold;
}
.mame, .description {
    color: #FFFFFF;
}
.HTML{
    color: var(--html);
}
.CSS {
    color: var(--css);
}
.javascript {
    color: var(--js);
}
.description {
    height: 7.5rem;
    line-height: 120%;
}
.links>a {
    box-sizing: border-box;
    display: inline-block;
    background-color: #08455f;
    width: 6.5rem;
    font-size: .7rem;
    text-align: center;
    color: #FFFFFF;
    padding: .5rem;
    margin-left: .2rem;
    border-radius: .3rem;
}
.links>a:hover {
    font-weight: bold;
}
.red {
    color: var(--js);
    font-weight: bold;
}
strong{ 
    font-weight: bold;
}
/* EDUCATION & EXPERIENCE*/

#educationContainer, #experienceContainer {
    flex-direction: column;
    align-items: center;
}
.education-modul, .work-modul{

    max-width: 20em;
    min-width: 12.5rem;
    margin-top: 1em;
    text-align: center;
    line-height: 120%;
}
h3 {
    font-size: 1.2em;
    margin-bottom: .4rem;
    text-decoration: underline;
}
/* CONTACTS */

#contactsContainer>ul {
    list-style-type: none;
}
#contactsContainer>ul>li>a>.fa, .fab {
    margin-right: .5em;
}

/* FOOTER */

footer {
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    min-width: var(--minWidth);
    background-color: #000c11;
    font-size: .8em;
    color: #FFFFFF;
    text-align: center;
    /* transform-origin: top; */
}