@media only screen and (max-width: 671px) {
    .hide-when-small {
        display: none;
    }
    .mountain-image {
        width: 50em;

    }
}
@media only screen and (max-width: 580px) {

    /* NAVIGATION */
    
    .navigation-big {
        display: none;
    }
    .navigation-small {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 280px;
        background-color: var(--graientThirdStop);
        display: flex;
        align-items: center;
        width: 100%;
        height: 2rem;
        z-index: 1001;
    }
    .title {
        height: 2rem;
        margin-top: .2rem;
        position: relative;
        font-size: 1.2rem;
        text-align: left;
    }
    .title>a {
        box-sizing: border-box;
        display: block;
        color: var(--mainTextColor);
        padding: .5rem 0rem;
        margin-top: -.25rem;
    }
    .contacts {
        flex-grow: 2;
        padding: 0rem 0rem;
        text-align: right;
        border-bottom: none ;
    }
    .contacts>a {
        margin-right: .5rem;
    } .dropdown {
        display: none;
    }
    .sandwichMenu {
        box-sizing: border-box;
        flex-grow: 1;
        height: 2rem;
        padding: .2rem 0 0 .5rem ;
    }
    .sandwichMenu>.line {
        margin: .2rem 0;
        width: 2rem;
        height: .3rem;
        background-color: var(--mainTextColor);
        border-radius: .2rem;
        transition: transform .2s;
    }
    .active{
        position: fixed;
        left: 0;
        top: 2rem;
        display: block;
        width: 10rem;
        height: 100%;
        padding: 1rem;
        font-size: 1.3rem;
        line-height: 150%;
        text-align: left;
        background-color: var(--gradientFirstStop);
        opacity: 0.8;
        overflow: hidden;
        animation: revealDropdown .3s ease-out forwards;
    }
    .active>li {
        border-bottom: 1px dashed var(--mainTextColor);
        margin-top: 1rem;
    }
    @keyframes revealDropdown {
        0% {
            width: 0;
        }
        100% {
            width: 10rem;
        }
    }
    .topline.activated {
        transform-origin: top left;
        transform: rotate(31deg);
    }
    .midline.activated {
        visibility: hidden;
    }
    .bottomline.activated {
        transform-origin: bottom left;
        transform: rotate(-31deg);
    }
    .dropdown>li>a {
        color: var(--opositeText);
    }
    .dropdown>li:hover {
        font-weight: 500;
    }
}

@media only screen and (max-width: 380px) {
   
    /* LANDING PAGE */
    .title-name { 
        font-size: 2em;
    }
    .subtitle-position { 
        font-size: .9em;
    }
    .title-description { 
        box-sizing: border-box;
        font-size: .7em;
        padding: 1.5rem;
    }

    /* OTHER PAGES */
    .category-title {
        font-size: 2rem;
    }
    #skillsContainer, #experienceContainer, #educationContainer, #contactsContainer {
        font-size: .9em
    }

    
}