/* ALL PAGES */

.main-container {
    box-sizing: border-box;
    padding: 4rem 2rem;
    width: 100vw;
    min-width: var(--minWidth);
    min-height: 50vh;
}
.category-title {
    font-size: 3rem;
    text-align: center;
    color: var(--mainTextColor);
    text-decoration: underline;
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
}
.appear {
    transform: scale(1);
    opacity: 1;
    transition: transform 1s, opacity .5s;
}

.container {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--mainTextColor);
}

/* SKILLS PAGE */

.skills-column {
    position: relative;
    padding: 1rem;
    width: 13em;
    min-width: calc(var(--minWidth) - 6rem);
    opacity: 0;
} 
.skills-column.left {
    left: -100px
}
.skills-column.right {
    left: 100px
}
.el-skill {
    margin: 1rem 0;
    font-size: 1em;
    border-bottom: 1px solid var(--descrText);
}
.el-skill > span {
    float: right;
}
#skillsContainer .appear {
    animation: revealSkills .5s forwards cubic-bezier(.64,.7,.97,1.38);
}
@keyframes revealSkills {
    0% { 
        opacity: 0; 
    }
    100% { 
        left: 0;
        opacity: 1; 
    }
}
/* PROJECTS PAGE */

.custom-select {
    margin-top: 1em;
    color: var(--mainTextColor);
    text-align: center;
}

.project {
    width: 15rem;
    min-width: 15rem;
    height: 25rem;
    overflow: hidden;
    border-radius: .5em;
    margin: 1em;
    border: 1px solid var(--mainTextColor);
    animation: showProjects .5s;
}
@keyframes showProjects {
    0% {
        transform: scale(.5);
    } 
    100% {
        transform: scale(1);
    }
}
.name, .tools, .description, .links {
    box-sizing: border-box;
    padding: .5rem;
    color: var(--mainTextColor);
}
.name, .tools {
    text-transform: uppercase;
    font-weight: bold;
}
.HTML{
    color: var(--html);
}
.CSS {
    color: var(--css);
}
.javascript {
    color: var(--js);
}
.description {
    height: 7.5rem;
    line-height: 120%;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links>a {
    background-color: var(--gradientFirstStop);
    width: 6.7rem;
    font-size: .65rem;
    text-align: center;
    color: var(--mainTextColor);
    padding: .5rem 0;
    border-radius: .3rem;
}
.links>a:hover {
    font-weight: bold;
}

/* EDUCATION & EXPERIENCE*/

#educationContainer, #experienceContainer, #contactsContainer {
    flex-direction: column;
    align-items: center;
}
.education-modul, .work-modul, .contacts-page {

    max-width: 20em;
    min-width: 12.5rem;
    margin-top: 1em;
    text-align: center;
    line-height: 120%;
}
h3 {
    font-size: 1.2em;
    margin-bottom: .4rem;
    text-decoration: underline;
}
/* CONTACTS */

#contactsContainer ul {
    list-style-type: none;
}
#contactsContainer ul li a .fa, .fab {
    margin-right: .5em;
}
.contacts-page>li {
    margin-top: 1em;
}