html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    width: 30em;
    height: 33em;
    margin: 0 auto;
    border: 1px solid black;

}
h1{
    margin-top: 0;
    padding: 1em;
    text-align: center;
    background-color: black;
    color: white;
}
.selectLevelText, .playGround, .results {
    width: 25em;
    padding: .5em;
    margin: 1em auto;
    border: 1px solid black;

}
h2, h3 {
    margin-top: 0;
}

.hidden {
    display: none;
}